.card {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  height: 380px;
}

.card h3 {
  font-size: 18px;
  color: #222;
  margin-bottom: 20px;
}